.item{
    
    width: 100%;
    height: 550px;
    max-width: 820px;
    background-color: var(--container-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    overflow: hidden;
    grid-template-columns: repeat(2,1fr);
    display: grid;
    z-index: 1000;
}

.contact__container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 9;
}
.contact-form svg {
    width: 343px;
}
.contact-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}


.first-text{
    color: var(--title-color);
    padding-left: 1.25rem;
    padding-top: 1.25rem;
    font-size: 2.188rem;
    text-align: center;
}

.image{
    height: 320px;
    width: 320px;
}

form{
    padding: 0 25px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.input-box{
    height: 40px;
    width: 70%;
    margin: 30px 0;
    position: relative;
}

.input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 2px solid rgba(0, 0, 0, 0.1);
    outline: none;
    padding-left: 10px;
    border-radius: 20px;
    font-size: 16px;
}

.input-box label{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 15px;
    font-weight: 500;
    color: gray;
    transition: .3s;
}
.btn:hover {
    background: lightgray;
    transition: .3s;
}

.input-box .input:focus ~ label,
.input-box .input:valid ~ label{
    top: -1px;
    left: 10px;
    background: #fff;
    font-weight: 500;
    font-size: 12px;
    padding: 5px;
}

textarea.input{
    resize: none;
    height: 150px;
    overflow: auto;
    padding-top: 10px;
}

.btn{
    position: relative;
    top: 100px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: none;
    outline: none;
    height: 45px;
    width: 30%;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
}

.contactform-title {
    top: 20px;
    position: relative;
    left: 20px;
    padding-top: 10px;
    color: var(--title-color);
    font-size: 25px;
    font-weight: 400;
}



/* ================svg animation=========== */
#envelope {
    animation: float 2s ease-in-out infinite;
  }
  
  #star1, #star2, #star3, #star4, #star5, #star6 {
    animation: blink 1s ease-in-out infinite;
  }
  #star2 { animation-delay: 100ms; }
  #star3 { animation-delay: 500ms; }
  #star4 { animation-delay: 700ms; }
  #star5 { animation-delay: 300ms; }
  #star6 { animation-delay: 200ms }
  
  @keyframes float {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  
  @keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: .5;
    }
    100% {
      opacity: 1;
    }
  }
  



/*=============== BREAKPOINTS ===============*/


  
  /* For medium devices */
  @media screen and (max-width: 768px) {
        .item{
            grid-template-columns: 1fr;
        }
        .contact-form{
            display: none;
        }
        .contactform-title{
            font-size: 30px;
            text-align: center;
        }
        .input-box{
            width: 90%;
        }
        .btn{
            width: 25%;
            height: 40px;
            font-style: 12px;
        }
  }
  
 
  /* For small devices */
  @media screen and (max-width: 350px) {
    .contactform-title{
        font-size: 23px;
        text-align: center;
    }
  }
  